[Unit]
Description=Symbiont SlimOS Installer
ConditionPathExists=!/.__ssinstall__

[Service]
Type=oneshot
ExecStart=/usr/bin/ssinstall.sh

[Install]
WantedBy=multi-user.target
