[Unit]
Description=Symbiont SlimOS Installer
ConditionPathExists=!/.__ssinstall__

[Service]
Type=oneshot
ExecStart=/usr/bin/installctl --autodetect

[Install]
WantedBy=multi-user.target
